<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.knowledge.course.dao.CourseMapper">
    <!--查询单个课程-->
    <select id="getCourseById" parameterType="Integer" resultMap="CourseMap">
        select * from course where id = #{id}
    </select>
    <!--条件查询课程数量-->
    <select id="totalSize" resultType="Integer">
        select count(*) from course
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="iscollection != null">
                and iscollection = #{iscollection}
            </if>
            <if test="userID != null and userID.id != null">
                and userID = #{userID.id}
            </if>
            <if test="name != null and name != ''">
                and name like CONCAT('%',#{name} , '%')
            </if>
            <if test="coursetype != null and coursetype.id!=null">
                and coursetype=#{coursetype.id}
            </if>
            <if test="coursetypeIDs!= null">
                and
                <foreach item="item" index="index" collection="coursetypeIDs" open="(" separator="or" close=")">
                    coursetype = #{item}
                </foreach>
            </if>
        </trim>
    </select>
    <!--条件查询课程-->
    <!--根据排序字段升序排序,根据创建时间降序排序-->
    <select id="getCourses" resultMap="CourseMap">
        select * from course
        <trim prefix="where" prefixOverrides="and|or">
            <if test="Course.id != null">
                and id = #{Course.id}
            </if>
            <if test="Course.iscollection != null">
                and iscollection = #{Course.iscollection}
            </if>
            <if test="Course.userID != null and Course.userID.id != null">
                and userID = #{Course.userID.id}
            </if>
            <if test="Course.name != null and Course.name != ''">
                and name like CONCAT('%',#{Course.name} , '%')
            </if>
            <if test="Course.coursetype != null and Course.coursetype.id!=null">
                and coursetype=#{Course.coursetype.id}
            </if>
            <if test="Course.coursetypeIDs!= null">
                and
                <foreach item="item" index="index" collection="Course.coursetypeIDs" open="(" separator="or" close=")">
                    coursetype = #{item}
                </foreach>
            </if>
        </trim>
        <choose>
            <otherwise>
                order by create_date DESC
            </otherwise>
        </choose>
        <if test="pageStart != null and pageSize != null">
            limit #{pageStart},#{pageSize}
        </if>
    </select>

    <!--  添加一条课程  -->
    <insert id="createCourse" parameterType="com.wu.knowledge.course.model.Course">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            create_user,create_date,write_user,write_date,
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="iscollection != null">
                iscollection,
            </if>
            <if test="sequence != null">
                sequence,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            <if test="teacher != null and teacher != ''">
                teacher,
            </if>
            <if test="coursetime != null and coursetime != ''">
                coursetime,
            </if>
            <if test="coursetype != null and coursetype.id != null">
                coursetype,
            </if>
            <if test="userID != null and userID.id != null">
                userID,
            </if>
        </trim>
        <trim prefix="value (" suffix=")" suffixOverrides=",">
            #{create_user.id,jdbcType=INTEGER},#{create_date},#{write_user.id,jdbcType=INTEGER},#{write_date},
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="iscollection != null">
                #{iscollection},
            </if>
            <if test="sequence != null">
                #{sequence},
            </if>
            <if test="synopsis != null and synopsis != ''">
                #{synopsis},
            </if>
            <if test="remark != null and remark != ''">
                #{remark},
            </if>
            <if test="teacher != null and teacher != ''">
                #{teacher},
            </if>
            <if test="coursetime != null and coursetime != ''">
                #{coursetime},
            </if>
            <if test="coursetype != null and coursetype.id != null">
                #{coursetype.id},
            </if>
            <if test="userID != null and userID.id != null">
                #{userID.id},
            </if>
        </trim>
    </insert>

    <!--  更新一条课程  -->
    <update id="updateCourse" parameterType="com.wu.knowledge.course.model.Course">
        update course set
        <if test="iscollection != null">
            iscollection = #{iscollection},
        </if>
        <if test="sequence != null">
            sequence = #{sequence},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="synopsis != null and synopsis != ''">
            synopsis = #{synopsis},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
        <if test="teacher != null and teacher != ''">
            teacher = #{teacher},
        </if>
        <if test="coursetime != null and coursetime != ''">
            coursetime = #{coursetime},
        </if>
        <if test="coursetype != null and coursetype.id != null">
            coursetype = #{coursetype.id},
        </if>
        <if test="userID != null and userID.id != null">
            userID = #{userID.id},
        </if>
        write_user = #{write_user.id,jdbcType=INTEGER},write_date = #{write_date}
        where id = #{id}
    </update>

    <!--删除课程-->
    <delete id="deleteCourse">
        delete from course where id in
        <foreach item="idItem" collection="array" open="(" separator=","
                 close=")">
            #{idItem}
        </foreach>
    </delete>


    <!--字段映射-->
    <!--所有映射都不使用association和collection，以后都用缓存来解决-->
    <resultMap id="CourseMap" type="com.wu.knowledge.course.model.Course">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="create_user.id" column="create_user"/>
        <result property="create_date" column="create_date"/>
        <result property="write_user.id" column="write_user"/>
        <result property="write_date" column="write_date"/>
        <result property="sequence" column="sequence"/>
        <result property="iscollection" column="iscollection"/>
        <result property="name" column="name"/>
        <result property="synopsis" column="synopsis"/>
        <result property="remark" column="remark"/>
        <result property="teacher" column="teacher"/>
        <result property="coursetime" column="coursetime"/>
        <result property="coursetype.id" column="coursetype"/>
        <result property="userID.id" column="userID"/>
    </resultMap>
</mapper>