<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.knowledge.note.dao.NoteMapper">
    <!--查询单个记事本-->
    <select id="getNoteById" parameterType="Integer" resultMap="NoteMap">
        select * from note where id = #{id}
    </select>
    <!--条件查询记事本数量-->
    <select id="totalSize" resultType="Integer">
        select count(*) from note
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="iscollection != null">
                and iscollection = #{iscollection}
            </if>
            <if test="userID != null and userID.id != null">
                and userID = #{userID.id}
            </if>
            <if test="title != null and title != ''">
                and title like CONCAT('%',#{title} , '%')
            </if>
            <if test="notetypeIDs!= null">
                and
                <foreach item="item" index="index" collection="notetypeIDs" open="(" separator="or" close=")">
                    notetype = #{item}
                </foreach>
            </if>
        </trim>
    </select>
    <!--条件查询记事本-->
    <!--根据排序字段升序排序,根据创建时间降序排序-->
    <select id="getNotes" resultMap="NoteMap">
        select * from note a
        <trim prefix="where" prefixOverrides="and|or">
            <if test="Note.id != null">
                and id = #{Note.id}
            </if>
            <if test="Note.iscollection != null">
                and iscollection = #{Note.iscollection}
            </if>
            <if test="Note.userID != null and Note.userID.id != null">
                and userID = #{Note.userID.id}
            </if>
            <if test="Note.title != null and Note.title != ''">
                and title like CONCAT('%',#{Note.title} , '%')
            </if>
            <if test="Note.notetypeIDs!= null">
                and
                <foreach item="item" index="index" collection="Note.notetypeIDs" open="(" separator="or" close=")">
                    notetype = #{item}
                </foreach>
            </if>
        </trim>
        <choose>
            <otherwise>
                order by create_date DESC
            </otherwise>
        </choose>
        <if test="pageStart != null and pageSize != null">
            limit #{pageStart},#{pageSize}
        </if>
    </select>

    <!--  添加一条记事本  -->
    <insert id="createNote" parameterType="com.wu.knowledge.note.model.Note">
        insert into note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            create_user,create_date,write_user,write_date,
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="iscollection != null">
                iscollection,
            </if>
            <if test="sequence != null">
                sequence,
            </if>
            <if test="synopsis != null">
                synopsis,
            </if>
            <if test="cover != null and cover.id != null">
                cover,
            </if>
            <if test="notetype != null and notetype.id != null">
                notetype,
            </if>
            <if test="userID != null and userID.id != null">
                userID,
            </if>
        </trim>
        <trim prefix="value (" suffix=")" suffixOverrides=",">
            #{create_user.id,jdbcType=INTEGER},#{create_date},#{write_user.id,jdbcType=INTEGER},#{write_date},
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="iscollection != null">
                #{iscollection},
            </if>
            <if test="sequence != null">
                #{sequence},
            </if>
            <if test="synopsis != null">
                #{synopsis},
            </if>
            <if test="cover != null and cover.id != null">
                #{cover.id},
            </if>
            <if test="notetype != null and notetype.id != null">
               #{notetype.id},
            </if>
            <if test="userID != null and userID.id != null">
                #{userID.id},
            </if>
        </trim>
    </insert>

    <!--  更新一条记事本  -->
    <update id="updateNote" parameterType="com.wu.knowledge.note.model.Note">
        update note set
        <if test="iscollection != null">
            iscollection = #{iscollection},
        </if>
        <if test="sequence != null">
            sequence = #{sequence},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="synopsis != null and synopsis != ''">
            synopsis = #{synopsis},
        </if>
        <if test="cover != null and cover.id != null">
            cover = #{cover.id},
        </if>
        <if test="notetype != null and notetype.id != null">
            notetype = #{notetype.id},
        </if>
        <if test="userID != null and userID.id != null">
            userID = #{userID.id},
        </if>
        write_user = #{write_user.id,jdbcType=INTEGER},write_date = #{write_date}
        where id = #{id}
    </update>

    <!--删除笔记-->
    <delete id="deleteNote">
        delete from note where id in
        <foreach item="idItem" collection="array" open="(" separator=","
                 close=")">
            #{idItem}
        </foreach>
    </delete>


    <!--字段映射-->
    <!--所有映射都不使用association和collection，以后都用缓存来解决-->
    <resultMap id="NoteMap" type="com.wu.knowledge.note.model.Note">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="create_user.id" column="create_user"/>
        <result property="create_date" column="create_date"/>
        <result property="write_user.id" column="write_user"/>
        <result property="write_date" column="write_date"/>
        <result property="sequence" column="sequence"/>
        <result property="iscollection" column="iscollection"/>
        <result property="title" column="title"/>
        <result property="synopsis" column="synopsis"/>
        <result property="cover.id" column="cover"/>
        <result property="notetype.id" column="notetype"/>
        <result property="userID.id" column="userID"/>
    </resultMap>
</mapper>